@import '../../styles/variables.scss';

header {
	display: flex;
	justify-content: space-between;
	height: $headerHeight;
	border-bottom: 1px solid $borderColor;
	padding: 0 25px;
}

nav {
	.nav {
		margin-right: 15px;
		vertical-align: middle;
		color: $pinkColor;
	}
}

.anticon-edit {
	font-size: 18px;
}

.nav {
	label {
		margin-left: 10px;
		cursor: pointer;
	}
}

.admin_back {
	width: 30px;
	height: 30px;
}

.avatar_trigger {
	display: inline-block;
	height: $headerHeight;
	line-height: $headerHeight;
}

.avatar_op {
	min-width: 100px !important;
}
